/* /////////////////max-width:690px-section-starts-here///////// /////////*/

@media screen and (max-width:690px) {

  .signupsection-div2 div p:nth-child(1) {
    margin:3rem 0 0.3rem 
  } 

  .signupsection-div2 div p:nth-child(2) {
   
  margin-top:-0.01rem
   
  }


  .signupsection-div2 div:nth-child(2) button {
    padding:0.2rem 1.8rem;
    font-size:2.2rem;
    border-radius:1rem;
    background:var(--bluecolor);
    border:0.3rem solid #fff;
    color:#fff;
    font-weight:700;
    overflow: hidden;
    z-index: 2;
    position:relative;
    transition:0.5s;
    margin  : 1rem 0 2.5rem!important;
  }

}

/*/////////min-width:690px-section-ends-here///////////////*/
 

 
 

/* /////// min-width768px-section-starts-here/////////// */

@media screen and (min-width:768px) {


  /* nav-starts-here */
  
  .nav-1, .btn1, .btn2 {
    display:none;
  }

  .nav-2 {
    min-height:5rem;
    background: var(--darkcolor);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 2%;
  }

  .nav-2 .logo {
    font-size:3rem;
    font-weight:900;
    color:#fff;
  }

  .nav-2 .links-2 {
    display:flex;
    list-style-type:none;
  }

  .nav-2 .links-2 li a {
    display:block;
    padding:0.2rem 1rem;
    font-size:2rem;
    text-decoration:none;
    font-weight:600;
    color:#fff;
  }

  
  /* nav-ends-here */

  .boxcontent {
    display:grid;
    grid-template-columns:1fr;
    justify-items:center;
  }
 
  .boxcontent-text {
    margin:2rem 0;
    font-size:3rem;
  }

  .boxcontainer {
   display:grid;
   grid-template-columns:repeat(2, 1fr);
    width:80%;
   justify-items:center;
   column-gap:1rem;
   margin-top:5rem;
  }
  
  .boxcontainer .box {
    min-height: 30rem;
    width:17rem;
    border-radius:1rem;
    margin-bottom:2rem;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr 10rem;
    
  }
  
  .boxcontainer .box div:nth-child(1){
    min-width:5rem;;
    height:90%;
    border:0.5rem solid var(--bluecolor);
    border-radius:1rem;
    margin-bottom:0.6rem;
  }
  
  .boxcontainer .box div:nth-child(2) {
    text-align:center;
    color:var(--blackcolor);
  }
  
  /* boxcontent-ends-here */
  


  .signupsection {
    width:100%;
    min-height:35rem;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#fff;
  
  }
  
  .signupsection-div1 {
    flex-basis:70%;
    min-height:20rem;
    display:flex;
    justify-content:center;
    align-items:center;
    background:var(--bluecolor);
    border-radius:1.2rem;
  }

  .signupsection-div2{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr;
    align-items:center;
    min-height:15rem;
    width:70%;
  
    
  }
  
  .signupsection-div2 div {
    

    display:grid;
    align-items:center;
    justify-items:center;

  }


  .signupsection-div2 div:nth-child(1)  {
    grid-template-columns:1fr;
    grid-template-rows:1fr;
    display:grid;
    align-items:center;
    justify-items:center;
    margin :1rem 0 0.1rem!important;
  }
  
  
  .signupsection-div2 div p:nth-child(1){
    font-size:3rem;
    font-weight:900;
    margin-top:1rem;
  }
  
  .signupsection-div2 div p:nth-child(2) {
    font-size: 2.5rem ;
    color:#fff;;
    text-align:center;
    width:100%;
    margin:0.rem 0 0.7rem;
    line-height:3.3rem
  }
  

}

/* ///////////////////min-width768px-section-ends-here/// //////////////////// */




/*//////////////////////////////min-width:996px-section-starts-here///////// ////////////////////// */

@media  screen and (min-width:996px){
  * {
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  
   
  
  html {
    font-size:62.5%;
  }
  
  body {
    font-size:1.6em;
    font-family:Roboto, Source Sans Pro, Arial;
    display:flex;
    flex-direction:column;
    color:#fff;
  }
  
  
  :root {
    --darkcolor: #1F2937;
    --bluecolor: #3882F6;
    --graycolor:gray;
    --lightgray: #E5E7EB;
    --blackcolor: #000;
    --quotecolor: #1f2937;
  }
  
  .wrapper {
    display:flex;
    flex-direction: column;
    min-height:10rem;
  }
  
  
  /* nav-starts-here */
  
  .nav-1, .btn1, .btn2 {
    display:none;
  }

  .nav-2 {
    min-height:5rem;
    background: var(--darkcolor);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 2%;
  }

  .nav-2 .logo {
    font-size:3rem;
    font-weight:900;

  }

  .nav-2 .links-2 {
    display:flex;
    list-style-type:none;
  }

  .nav-2 .links-2 .active-2 {
    color:var(--bluecolor);
   
  }

  .nav-2 .links-2 li a:hover {
    color:var(--bluecolor);
    transition:all 0.3s linear
  }

  .nav-2 .links-2 li a {
    display:block;
    padding:0.2rem 1.8rem;
    font-size:2rem;
    text-decoration:none;
    font-weight:600;
    color:#fff;
    transition:all 0.125s linear
  }

  
  /* nav-ends-here */
  
  .hero {
    width:100%;
    min-height:40rem;
    display:flex;
    justify-content:center;
    align-items:center;
    background: var(--darkcolor);
  }
  
  .hero-div {
    display:flex;
    flex-basis:60%;
    height:20rem;
    justify-content:space-between;
  }
  
  .herodiv {
    display:flex;
    justify-content:center;
    flex-basis:48%;
    align-items:center;
  }
  
  .herodiv:nth-child(1) {
    display:flex;
    flex-direction:column;
    align-items:start;
  }
  
  .herodiv:nth-child(1) h1 {
    width:30rem;
    font-size:4rem;
    font-weight:900;
    margin-bottom:0.5rem;
  }
  
  .herodiv:nth-child(1) p {
    font-size:1.7rem;
    margin-bottom:0.5rem;
    
  }
  
  .herodiv:nth-child(1) button {
    padding:0.4rem 3rem;
    font-size:1.7rem;
    font-weight:900;
    color:#fff;
    background:var(--bluecolor);
    border:none;
    border-radius:0.7rem;
    margin-top:1.2rem;
  }
  
  .herodiv:nth-child(2){
    background:var(--graycolor)
   }
  
  
  
   /* hero-ends-here */
  
   .boxcontent {
    min-height:50rem;
    background:#ffff;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: 5rem 1fr;
    width:100%;
    justify-items: center;
    row-gap: 2rem;;
   
  }
  
  .boxcontent-text {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:3rem;
    font-weight:700;
    width:100%;
    padding:3%;
    color:var(--blackcolor);
    margin-top:2rem;
  }
  
  .boxcontainer {
   display:grid;
   grid-template-columns:repeat(4, 1fr);
    width:80%;
   justify-items:center;
   column-gap:1rem
  }
  
  .boxcontainer .box {
    min-height: 30rem;
    width:17rem;
    border-radius:1rem;
    margin-bottom:2rem;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr 10rem;
  }
  
  .boxcontainer .box div:nth-child(1){
    min-width:5rem;;
    height:90%;
    border:0.5rem solid var(--bluecolor);
    border-radius:1rem;
    margin-bottom:0.6rem;
  }
  
  .boxcontainer .box div:nth-child(2) {
    text-align:center;
    color:var(--blackcolor);
  }
  
  /* boxcontent-ends-here */
  
  .quotesection {
    width:100%;
    min-height:40rem;
    background-color: var(--lightgray);
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  .quotesection  div {
    flex-basis:55%;
    display:flex;
    flex-direction:column;
    background:var(--lightgray);
    align-items: end;
  }
  
  .quotesection div p:nth-child(1) {
    color:var(--quotecolor );
    font-size:3rem;
  }
  
  .quotesection div p:nth-child(2) {
    font-size:2rem;
    display:flex;
    justify-self: end;
    align-items:flex-end;
    color: var(--blackcolor);
    font-weight:900;
    padding-right:7rem;
  }
  
  
  /* quotesection-ends-here */
  
    .signupsection {
    width:100%;
    min-height:35rem;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#fff;
  
  }
  
  .signupsection-div1 {
    flex-basis:70%;
    min-height:20rem;
    display:flex;
    justify-content:center;
    align-items:center;
    background:var(--bluecolor);
    border-radius:1.2rem;
  }

  .signupsection-div2{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr;
    align-items:center;
    min-height:15rem;
    width:70%;
 
    
  }
  
  .signupsection-div2 div {
    min-height:10rem;
 
    display:grid;
    align-items:center;
    justify-items:center;

  }


  .signupsection-div2 div:nth-child(1)  {
    grid-template-columns:1fr;
    grid-template-rows:1fr;
    display:grid;
    align-items:center;
    justify-items:center;
    margin:4rem 0
  }
  
  
  .signupsection-div2 div p:nth-child(1){
    font-size:3rem;
    font-weight:900;
    margin-top:1rem;
  }
  
  .signupsection-div2 div p:nth-child(2) {
    font-size: 2.3rem;
    color:#fff;;
    text-align:center;
    width:100%;
    margin-top:1rem;
    line-height:3.3rem;
    margin-bottom:1.5rem;
  }
  

  /* sign-up-section-ends-here */
  
  .footer {
    min-height:10rem;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:var(--darkcolor);
    font-size:2rem;
    
  
  }
  /* footer-ends-here */
  
}

/* //////////////////////////////min-width:996px-section-ends-here///////// ////////////////////// */
